---
const GTM_ID = "GTM-TTG5JLTL"; 
---

<head>
  <script>
    (function() {
      if (!('gtmLoaded' in window)) {
        Object.defineProperty(window, 'gtmLoaded', {
          value: true,
          writable: false,
          configurable: false,
        });

        (function(w: Window & { [key: string]: any }, d: Document, s: string, l: string, i: string) {
          w[l] = w[l] || []; 
          w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });

          var f = d.getElementsByTagName(s)[0];
          var j = d.createElement(s) as HTMLScriptElement;
          var dl = l !== 'dataLayer' ? '&l=' + l : '';

          j.async = true;
          j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode?.insertBefore(j, f);
        })(window as Window & { [key: string]: any }, document, 'script', 'dataLayer', 'GTM-TTG5JLTL');
      }
    })();
  </script>
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTG5JLTL"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
</body>
